@use "../../App.scss" as *;

.login_container {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../../images/s_back.svg");
  background-position: cover;
  background-size: cover;
  background-color: rgb(250, 167, 73);
  @include breack_down(medium) {
    align-items: center;
  }
  .log_in_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      color: $second;
    }
    img {
      width: 7rem;
    }
  }
  form {
    width: 30vw;
    @include breack_down(medium) {
      width: 90vw;
      margin: 0;
    }
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #fff;
    margin-right: 10vw;
    padding: 3rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(139, 138, 135);
    .login_div {
      display: flex;
      width: 100%;
      gap: 5px;
      flex-direction: column;
      position: relative;
      p {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
      }
      input {
        padding: 1rem;
        width: 20vw;
        border-radius: 5px;
        outline: 1px solid $second;
        border: none;
        width: 100%;
        &:focus {
          outline: 1px solid $primary;
        }
      }
      label {
        color: $second;
      }
    }
    .login_btn_container {
      display: flex;
      align-items: center;
      gap: 2rem;
      button {
        padding: 0.7rem 2rem;
        cursor: pointer;
        transition: 0.5s;
        border: none;
        background-color: $second;
        border-radius: 7px;
        color: #fff;
        font-size: 16px;
        &:hover {
          background-color: #fff;
          color: $second;
          outline: 1px solid $second;
        }
      }
    }
  }
}
