@use "../../App.scss" as *;
.events_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin: 7rem 0;
  @include breack_down(medium) {
    gap: 2rem;
  }
  .events_contetn {
    .event {
      position: sticky;
      top: 7rem;
      display: flex;
      @include breack_down(medium) {
        flex-direction: column !important;
        border-radius: 10px;
        top: 5rem;
        margin-bottom: 2rem;
      }
      background-color: $gr;
      border-radius: 20px;
      margin-bottom: 5rem;
      width: 95vw;
      img {
        border-radius: 20px 0 0 20px;
        width: 50%;
        min-height: 80vh;
        object-fit: cover;
        @include breack_down(medium) {
          width: 100%;
          min-height: auto;
          border-radius: 10px 10px 0 0;
        }
      }
      .event_info_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .event_info {
          color: #fff;
          width: 60%;
          @include breack_down(medium) {
            width: 95%;
            padding-bottom: 1rem;
          }
          h3 {
            font-size: 4rem;
            @include breack_down(medium) {
              font-size: 2rem;
            }
          }
          p {
            font-size: 20px;

            margin: 1rem 0;
            @include breack_down(medium) {
              font-size: 1rem;
            }
          }
          button {
            padding: 0.5rem 1rem;
            @include breack_down(medium) {
              padding: 0.2rem 0.7rem;
            }
            background-color: #fff;
            outline: 2px solid $gr;
            color: $gr;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-weight: 700;
            transition: 0.5s;
            &:hover {
              background-color: $gr;
              color: #fff;
              outline: 2px solid #fff;
            }
          }
        }
      }
    }
    .reverse {
      flex-direction: row-reverse;
      img {
        border-radius: 0 20px 20px 0;
        @include breack_down(medium) {
          border-radius: 0;
        }
      }
    }
  }
}
