@use "../../App.scss" as *;
.contact_container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  min-height: 80vh;
  .contact_title {
    font-size: 40px;
    color: $primary;
  }
  .contact_contetn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    gap: 2rem;
    img {
      max-width: 20vw;
    }
    .contact_info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 30%;
      .contact_icons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .contact_icon {
          display: flex;
          gap: 1rem;
          align-items: center;
          .contact_icon_text {
            display: flex;
            flex-direction: column;
            gap: 5px;
            h4 {
              color: $second;
            }
          }
          .c_svg_container {
            background-color: $second;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            svg {
              color: #fff;
              width: 50%;
              height: 50%;
            }
          }
        }
      }
    }
  }
  .contact_form {
    form {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      input,
      textarea {
        padding: 0.7rem;
        border-radius: 5px;
        border: none;
        outline: 1px solid $primary;
      }
      .relative_contact {
        position: relative;
        .error_contact {
          position: absolute;
          margin-top: 5px;
          color: $second;
        }
      }
      .outline_red {
        outline: 2px solid $second;
        border-radius: 5px;
      }
      .contact_name_mail {
        display: flex;
        gap: 1rem;
      }
      .contact_number {
        width: 100%;
        input {
          width: 100%;
        }
        textarea {
          width: 100% !important;
          min-height: 4rem;
        }
      }
    }
    button {
      background-color: $second;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      outline: 1px solid $second;
      transition: 0.5s;
      height: 3rem;
      &:hover {
        background-color: #fff;
        color: $second;
      }
    }
  }
}
