@use "../../App.scss" as *;
.all_retreat_container {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  .retreat_itle {
    color: $primary;
    font-size: 40px;
  }
  .retreat_btns {
    display: flex;
    gap: 1rem;
    button {
      width: 8rem;
      height: 2rem;
      border: none;
      background-color: #fff;
      outline: 1px solid $primary;
      color: $primary;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        transform: scale(1.06);
      }
    }
    .r_btn_active {
      background-color: $primary;
      color: #fff;
    }
  }
  .retreat_content {
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    .retreat_item {
      width: 30vw;
      background-color: $primary;
      color: #fff;
      box-shadow: 0 0 20px rgb(0, 0, 0);
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
      }
      .retreat_info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 1rem;
        .retreat_card_title {
          font-size: 23px;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
