@use "../../App.scss" as *;
.footer_container {
  background-color: $grFooter;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 2rem 3rem;
  gap: 3rem;
  @include breack_down(large) {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
  .footer_logo {
    height: 5rem;
  }
  .footer_info {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .f_icons_div {
      display: flex;
      gap: 10px;
      svg {
        flex-shrink: 0;
      }
    }
    @include breack_down(large) {
      width: auto;
    }
  }
  .footer_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    cursor: pointer;
    a {
      transition: 0.3s;
      text-decoration: none;
      color: #fff;
      &:hover {
        color: $primary;
      }
    }
  }
  .footer_social {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: #fff;
    svg {
      color: #fff;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: $primary;
      }
    }
  }
}
